<?php
/** **************************************************************
 *  Copyright notice
 *
 *  (c) 2011  *  All rights reserved
 *
 *  This copyright notice MUST APPEAR in all copies of the script!
 * *************************************************************** */
/**
 *
 * @author ...
 * @package {extKey}
 */
class Tx_{classExtPart}_{classType}_{className} extends tx_scheduler_Task
<f:escape value="{" type="raw" />
<f:escape value="}" type="raw" />
