<?php
/**
 *
 * @author ...
 * @package {extKey}
 */
class Tx_{classExtPart}_{classType}_{className}Test extends Tx_Extbase_Tests_Unit_BaseTestCase
<f:escape value="{" type="raw" />
  public function setUp() <f:escape value="{" type="raw" />
    $this->object = t3lib_div::makeInstance('Tx_{classExtPart}_{classType}_{className}');
  <f:escape value="}" type="raw" />

  public function tearDown() <f:escape value="{" type="raw" /> <f:escape value="}" type="raw" />


  /**
   * @test
   */
  public function implementMe() <f:escape value="{" type="raw" />
  <f:escape value="}" type="raw" />
<f:escape value="}" type="raw" />
